*{
    font-family: sans-serif;
}

body{
    background-color: #5D9415;
    color: #260101;
}

.box{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 400px;
    min-height: 500px;    
    max-height: 80%;
}

.painel{
    display: grid;
    grid-template-columns: 50% 50%;    
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 400px;    
}

.cell{  
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 15px;
    border-style: solid;
    border-color: #260101; 
    font-weight: bolder;
    font-size: 25px;    
    background-color: #FFEB84;    
}

.active{
    background-color: #F23030;
}

.titulo{
    margin-top: 70px;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

button{    
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: solid;
    border-color: #260101;
    background-color: #FFEB84;
    color: #260101;
    font-weight: bold;
    font-size: 15px;    
}

hr{
    border-color: #260101;
}